

.menu li {


    list-style: none;  /*la lista desaparece*/
    display: inline-block;  /*camibio de orientacion del display*/


    margin:  5px 15px;

  /*  margin: 10px 100px 30px 12px;  aplica de modo arriba, abajo, izquieda, derecha en ese sentido declarado de izquieda a derecha*/
    
    /*margin-top: 10px;
     margin-bottom: 15PX;
     margin-left: 6px;   declaraciones por separado
     margin-right: 30px;
*/
border: 1px groove black;
padding: 5px 10px;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
background-color:#73CFD9;


}

.menu {
    background: #7AB3BF ;
    padding: 5px  45px;
   text-align:  left;

}


h1{
    font-size:  20px;
    font-family: Arial, Helvetica, sans-serif;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  14px;
}



body{
    text-align: center;
    background: #C2E9F2;
}


.agrupar{

   
    border:  1px solid black;
    background: #3C6973 ;
    width: 900px;
    margin: 20px auto;
}



.cabecera {
    background-color: aquamarine;
    border: 2px solid black;
    background: #73CFD9;
}


.seccion {
    width: 300px;
    margin:  10px;
    float: left;
   }
   
   #idarticulo1, #idarticulo2 {

    background: #C2E9F2;
    border: 1px solid #999;
    padding: 20px;
   } 



article footer {

text-align:  right;
}

.referencias {
width: 200px;
float: right;
margin: 30px 35px;
padding-left: 2px;

}
.pie {

    clear: both;
}
blockquote {
    border: 1px solid black;
    padding:  5px;
    background: #C2E9F2;
    width: 150px;
}

img {

    width: 200px;
    height: 100px;
}




/*


.menu, li {

}


.menu li {

}
*/