.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculadora {

    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    /*grid-template-columns: 75px 75px 75px 75px;*/
    grid-template-columns: repeat(4,75px);
    /*grid-template-rows: 75px 75px 75px 75px 75px 75px;*/
    grid-template-rows: 75px  repeat(5,75px);
    background-color: #A2A69C;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 15px 10px 5px 5px #364034;  /*Dar sombras*/

    
}

.display {
    box-shadow: 0px 0px 0px 5px #364034;  /*Dar sombras*/
    grid-column: span 4;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 10px;
   /* margin: 10px 10px 20px 20px;*/
    
   
}

.col-2 {

    grid-column: span 2;

}

button{
    cursor: pointer;
    margin: 2px;
    background-color: #F2ECE4;
    border-radius: 15px;
    border: none;
    font-size: 25px;
    box-shadow: 5px 5px 5px 5px #364034;  /*Dar sombras*/
}

*{
 color: black;
}

body{
    background-color: aqua;
}

button:active{
    background-color: #687365;
}

